#main-container
{
  width: 860px;
  margin: auto;
}
#gametitle
{
  margin-top: 50px;
  font-family: 'Arvo', serif;
  font-size: 80px;
  line-height: 80px;
  color: #3e2723;
  vertical-align: middle;
  text-align: center;
}
#gameboard
{
  width: 860px;
  height: 610px;
  display: table;
  background-color: #4e342e;
  border-radius: 3px;
}
.gamerow
{
  width: 100%;
  display: table;
  margin-top: 1px;
}
.gamerow:first-child
{
  margin-top: 6px;
}
.gamecell
{
  float: left;
  height: 9px;
  width: 9px;
  margin-left: 1px;
  display: table-cell;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
       -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
  background-color: #3e2723;
}
.gamecell:first-child
{
  margin-left: 6px;
}
.gamecell.active
{
  background-color: #ffeb3b;
}
.main-button
{
  font-family: 'Arvo', serif;
  width: 100%;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
  color: #bcaaa4;
  background-color: #795548;
}
.small-button
{
  font-family: 'Arvo', serif;
  width: 100%;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
  color: #bcaaa4;
  background-color: #795548;
}
